{% extends "base.html" %}

{% block content %}

	<div class="container-fluid p-0">

  	<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">John
          <span class="text-primary">Widmaier</span>
        </h1>
        <div class="subheading mb-5">1046 Dekalb Street · Bridgeport, PA 19405 · (610) 717-6248 ·
          <a href="mailto:name@email.com">johnwid@gmail.com</a>
        </div>
        <p class="lead mb-5">Web developer with a primary interest in developing modern, responsive, and secure web pages. I can help you or your company improve your web presence and reach more potential clients and customers. An emphasis on clear, concise, and effective design are among the main pillars of my development process. I am open to any and all projects or design ideas you may have for your company, and pride myself on being able to complete projects in a timely manner and at affordable prices.</p>
        <!-- <div class="social-icons">
          <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="#">
            <i class="fab fa-github"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div> -->
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fab fa-html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-css3-alt"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-js"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-node"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-python"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-java"></i>
          </li>
        </ul>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Mobile-First</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Responsive Web Pages</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Modern Web Design</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Scalable Projects</li>
        </ul>
        <br>

        <div class="subheading mb-3">Other Skills</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            MongoDB</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Flask</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Django</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            API Integration</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Montgomery County Community College</h3>
            <div class="subheading mb-3">Associate</div>
            <div>Computer Science</div>
            <p>GPA: 3.73</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2006 - May 2010</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Upper Merion Area High School</h3>
            <div class="subheading mb-3">Class of 2010</div>
            <p>GPA: 3.5</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2006 - June 2010</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>When I'm not developing web pages and applications, I am an avid homebrewer. When I'm not brewing beer, I enjoy tasting the newest brews from local craft breweries. I also enjoy playing my guitar and cooking. In my free time I like to relax and play video games or watch a good movie</p>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="projects">
      <div class="w-100">
        <h2 class="mb-5">Projects</h2>
          <div class="resume-content">
            <div class="subheading mb-3">Small Business Design</div>
            <p>Header with image background</p>
            <img id="title" src="../static/css/images/title.png">
            <p>Company Mission / Values</p>
            <img id="title" src="../static/css/images/about.png">
            <p>Contact Information</p>
            <img id="title" src="../static/css/images/contact.png">
          </div>

        </div>

      </div>
    </section>

  </div>
{% endblock %}